In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

In [2]:
data = pd.read_csv('train.csv')
data = data.drop(columns=['DATETIMEDATA'])

In [3]:
from pycaret.regression import *
clf1 = setup(data, target='PM25', session_id = 123)

In [4]:
best = compare_models()

In [5]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [7]:
et = create_model('et')

In [9]:
predictions = predict_model(et, data)
predictions.head()

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,Date,Time,PM25,prediction_label
0,20.0,23.0,0.20,1.0,0.0,2,28.0,86,15,2024-01-01,00:00:00,11.5,11.50
1,18.0,22.0,0.27,2.0,0.0,2,27.0,88,352,2024-01-01,01:00:00,11.2,11.20
2,17.0,19.0,0.26,3.0,0.0,2,27.0,90,348,2024-01-01,02:00:00,9.8,9.80
3,17.0,17.0,0.26,2.0,0.0,2,26.0,91,1,2024-01-01,03:00:00,9.7,9.70
4,16.0,17.0,0.26,2.0,0.0,2,27.0,90,3,2024-01-01,04:00:00,8.7,8.99

In [11]:
test = pd.read_csv('test.csv')
test = test.drop(columns=['DATETIMEDATA'])
predict_model(et,data=test)

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,Date,Time,PM25,prediction_label
0,32.0,24.00,0.13,1.0,0.00,5,33.0,53,48,2024-02-18,11:00:00,15.9,15.6063
1,33.0,27.00,0.14,1.0,0.00,5,33.0,51,49,2024-02-18,12:00:00,12.6,15.4210
2,39.0,27.00,0.13,1.0,0.00,4,34.0,50,49,2024-02-18,13:00:00,10.1,15.1920
3,34.0,28.00,0.13,1.0,0.00,5,33.0,51,52,2024-02-18,14:00:00,8.7,13.2970
4,32.0,23.00,0.14,1.0,0.00,6,33.0,55,56,2024-02-18,15:00:00,12.1,15.5103
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,22.0,16.00,0.20,2.0,0.15,4,29.0,67,56,2024-03-01,19:00:00,6.0,9.4680
297,21.0,23.52,0.11,2.0,0.00,3,28.0,73,46,2024-03-01,20:00:00,8.4,10.7510
298,23.0,14.00,0.10,1.0,0.00,3,27.0,75,54,2024-03-01,21:00:00,11.7,12.2830
299,29.0,14.00,0.10,1.0,0.00,3,27.0,77,43,2024-03-01,22:00:00,9.2,16.2370
300,32.0,15.00,0.09,1.0,0.00,2,27.0,79,36,2024-03-01,23:00:00,14.6,19.1099

In [12]:
tuned_et = tune_model(et)
bagged = ensemble_model(et , n_estimators=20)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [13]:
predict_model(bagged,data=test)

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,Date,Time,PM25,prediction_label
0,32.0,24.00,0.13,1.0,0.00,5,33.0,53,48,2024-02-18,11:00:00,15.9,15.868425
1,33.0,27.00,0.14,1.0,0.00,5,33.0,51,49,2024-02-18,12:00:00,12.6,15.702880
2,39.0,27.00,0.13,1.0,0.00,4,34.0,50,49,2024-02-18,13:00:00,10.1,16.453615
3,34.0,28.00,0.13,1.0,0.00,5,33.0,51,52,2024-02-18,14:00:00,8.7,13.289825
4,32.0,23.00,0.14,1.0,0.00,6,33.0,55,56,2024-02-18,15:00:00,12.1,15.613730
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,22.0,16.00,0.20,2.0,0.15,4,29.0,67,56,2024-03-01,19:00:00,6.0,9.996850
297,21.0,23.52,0.11,2.0,0.00,3,28.0,73,46,2024-03-01,20:00:00,8.4,10.933800
298,23.0,14.00,0.10,1.0,0.00,3,27.0,75,54,2024-03-01,21:00:00,11.7,12.466800
299,29.0,14.00,0.10,1.0,0.00,3,27.0,77,43,2024-03-01,22:00:00,9.2,17.217730
300,32.0,15.00,0.09,1.0,0.00,2,27.0,79,36,2024-03-01,23:00:00,14.6,18.950025

In [14]:
predict_model(bagged)

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,Date,Time,PM25,prediction_label
345,31.0,36.0,0.20,1.0,0.0,6,34.0,57,53,2024-01-15,15:00:00,15.200000,15.202300
103,37.0,42.0,0.16,1.0,0.0,5,34.0,60,56,2024-01-05,12:00:00,19.299999,19.417100
309,37.0,29.0,0.23,1.0,0.0,3,26.0,85,29,2024-01-14,03:00:00,21.600000,21.566265
528,15.0,3.0,0.34,4.0,0.0,1,25.0,97,315,2024-01-23,06:00:00,7.900000,8.985500
1088,35.0,19.0,0.07,1.0,0.0,3,26.0,83,27,2024-02-16,04:00:00,18.600000,17.090230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,34.0,37.0,0.16,1.0,0.0,5,34.0,63,54,2024-01-05,11:00:00,17.200001,17.722850
308,31.0,26.0,0.21,1.0,0.0,2,26.0,85,27,2024-01-14,02:00:00,18.600000,18.392795
591,29.0,29.0,0.25,1.0,1.0,4,28.0,85,50,2024-01-25,21:00:00,15.500000,14.878350
4,16.0,17.0,0.26,2.0,0.0,2,27.0,90,3,2024-01-01,04:00:00,8.700000,8.927350
678,26.0,36.0,0.17,1.0,0.0,6,34.0,55,71,2024-01-29,12:00:00,11.600000,12.412600

In [15]:
import datetime
future_week_dates = [datetime.date.today() + datetime.timedelta(days=i) for i in range(7)]
future_data = pd.DataFrame({"Date": future_week_dates})
test = pd.read_csv("test.csv")
predictions_df = predict_model(bagged, data=test)

In [16]:
predictions_df["Predicted"] = predictions_df.iloc[:, 0]
pm25_predictions = predictions_df["prediction_label"].tolist()

In [17]:
print(f"PM2.5 predictions for the next week:")
for date, prediction in zip(future_week_dates, pm25_predictions):
  print(f"{date.strftime('%Y-%m-%d')}: {prediction:.2f}")

PM2.5 predictions for the next week:
2024-03-05: 15.87
2024-03-06: 15.70
2024-03-07: 16.45
2024-03-08: 13.29
2024-03-09: 15.61
2024-03-10: 14.08
2024-03-11: 13.29