In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

In [26]:
data = pd.read_csv('train.csv')
data = data.drop(columns=['Date', 'Time'])

In [27]:
from pycaret.regression import *
clf1 = setup(data, target='PM25', session_id = 123)

In [28]:
best = compare_models()

In [40]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [30]:
lightgbm = create_model('lightgbm')

In [31]:
predictions = predict_model(lightgbm, data=data)
predictions.head()

   PM10    O3    CO  NO2  SO2  WS  TEMP  RH  WD       PM25  prediction_label
0  20.0  23.0  0.20  1.0  0.0   2  28.0  86  15  11.500000         10.745797
1  21.0  17.0  0.26  1.0  1.0   3  28.0  84  18  10.700000         11.066537
2  24.0  17.0  0.26  1.0  1.0   3  28.0  83  20  11.700000         12.072654
3  27.0  18.0  0.27  1.0  1.0   4  28.0  82  31  13.200000         13.342462
4  32.0  19.0  0.26  1.0  1.0   3  29.0  80  29  16.299999         20.457411

In [32]:
test = pd.read_csv('test.csv')
test = test.drop(columns=['Date', 'Time'])
predict_model(lightgbm,data=test)

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
0,48.0,16.0,0.05,1.0,0.0,3,27.0,79,44,11.300000,15.525233
1,36.0,23.0,0.13,1.0,0.0,5,32.0,54,60,12.200000,15.009298
2,51.0,19.0,0.11,1.0,0.0,3,26.0,79,35,19.700001,12.151506
3,51.0,19.0,0.05,1.0,0.0,3,26.0,79,27,15.300000,15.535186
4,59.0,18.0,0.05,1.0,0.0,3,26.0,80,16,17.900000,25.637469
...,...,...,...,...,...,...,...,...,...,...,...
281,43.0,10.0,0.07,3.0,0.0,1,25.0,88,307,16.400000,20.583243
282,36.0,3.0,0.13,5.0,0.0,1,24.0,92,283,20.400000,16.990011
283,32.0,1.0,0.17,6.0,0.0,0,24.0,94,275,15.200000,16.790122
284,33.0,0.0,0.20,7.0,0.0,1,24.0,93,319,13.700000,16.856710
285,61.0,14.0,0.18,2.0,0.0,3,29.0,72,46,24.600000,33.423815

In [33]:
tuned_et = tune_model(lightgbm)
bagged = ensemble_model(lightgbm , n_estimators=20)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [34]:
predict_model(bagged,data=test)

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
0,48.0,16.0,0.05,1.0,0.0,3,27.0,79,44,11.300000,16.573928
1,36.0,23.0,0.13,1.0,0.0,5,32.0,54,60,12.200000,14.708602
2,51.0,19.0,0.11,1.0,0.0,3,26.0,79,35,19.700001,13.814901
3,51.0,19.0,0.05,1.0,0.0,3,26.0,79,27,15.300000,15.624822
4,59.0,18.0,0.05,1.0,0.0,3,26.0,80,16,17.900000,25.571909
...,...,...,...,...,...,...,...,...,...,...,...
281,43.0,10.0,0.07,3.0,0.0,1,25.0,88,307,16.400000,20.065218
282,36.0,3.0,0.13,5.0,0.0,1,24.0,92,283,20.400000,16.974302
283,32.0,1.0,0.17,6.0,0.0,0,24.0,94,275,15.200000,17.439117
284,33.0,0.0,0.20,7.0,0.0,1,24.0,93,319,13.700000,16.993611
285,61.0,14.0,0.18,2.0,0.0,3,29.0,72,46,24.600000,32.624490

In [35]:
predict_model(bagged)

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
345,54.0,20.000000,0.31,7.00,0.00,1,26.0,87,353,30.700001,30.718819
103,34.0,37.000000,0.16,1.00,0.00,5,34.0,63,54,17.200001,17.067617
309,66.0,36.000000,0.20,2.00,0.15,3,28.0,77,32,37.900002,32.019649
528,18.0,19.000000,0.23,2.00,0.00,3,28.0,82,43,9.200000,8.584942
1088,23.0,25.000000,0.17,2.00,0.00,3,28.0,72,49,9.900000,12.349528
...,...,...,...,...,...,...,...,...,...,...,...
102,61.0,31.000000,0.25,2.00,0.00,3,29.0,80,17,34.500000,36.552836
308,66.0,23.549999,0.23,1.00,0.00,3,28.0,78,23,38.000000,37.584724
591,25.0,22.000000,0.22,2.18,0.00,3,28.0,84,51,13.100000,13.207555
4,32.0,19.000000,0.26,1.00,1.00,3,29.0,80,29,16.299999,19.648788
678,45.0,32.000000,0.19,1.00,0.00,5,32.0,68,67,23.500000,22.525167

In [36]:
import datetime
future_week_dates = [datetime.date.today() + datetime.timedelta(days=i) for i in range(7)]
future_data = pd.DataFrame({"Date": future_week_dates})
test = pd.read_csv("test.csv")
predictions_df = predict_model(bagged, data=test)

In [18]:
predictions_df

,Date,Time,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
0,2024-02-18,23:00:00,48.0,16.0,0.05,1.0,0.0,3,27.0,79,44,11.300000,15.5790
1,2024-02-18,10:00:00,36.0,23.0,0.13,1.0,0.0,5,32.0,54,60,12.200000,17.5710
2,2024-02-18,00:00:00,51.0,19.0,0.11,1.0,0.0,3,26.0,79,35,19.700001,15.9290
3,2024-02-18,01:00:00,51.0,19.0,0.05,1.0,0.0,3,26.0,79,27,15.300000,14.4070
4,2024-02-18,02:00:00,59.0,18.0,0.05,1.0,0.0,3,26.0,80,16,17.900000,16.1810
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,2024-03-01,03:00:00,43.0,10.0,0.07,3.0,0.0,1,25.0,88,307,16.400000,23.5950
282,2024-03-01,04:00:00,36.0,3.0,0.13,5.0,0.0,1,24.0,92,283,20.400000,18.7770
283,2024-03-01,05:00:00,32.0,1.0,0.17,6.0,0.0,0,24.0,94,275,15.200000,17.6026
284,2024-03-01,06:00:00,33.0,0.0,0.20,7.0,0.0,1,24.0,93,319,13.700000,17.4540
285,2024-03-01,08:00:00,61.0,14.0,0.18,2.0,0.0,3,29.0,72,46,24.600000,27.0840

In [37]:
predictions_df["Predicted"] = predictions_df.iloc[:, 0]
pm25_predictions = predictions_df["prediction_label"].tolist()

In [39]:

print(f"PM2.5 predictions for the next week:")
for date, prediction in zip(future_week_dates, pm25_predictions):
  print(f"{date.strftime('%Y-%m-%d')}: {prediction:.2f}")

PM2.5 predictions for the next week:
2024-03-05: 16.57
2024-03-06: 14.71
2024-03-07: 13.81
2024-03-08: 15.62
2024-03-09: 25.57
2024-03-10: 19.28
2024-03-11: 19.84