In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

In [3]:
data = pd.read_csv('train.csv')
data

      PM25  PM10     O3    CO   NO2   SO2  WS  TEMP  RH   WD
0     11.5  20.0  23.00  0.20  1.00  0.00   2  28.0  86   15
1     11.2  18.0  22.00  0.27  2.00  0.00   2  27.0  88  352
2      9.8  17.0  19.00  0.26  3.00  0.00   2  27.0  90  348
3      9.7  17.0  17.00  0.26  2.00  0.00   2  26.0  91    1
4      8.7  16.0  17.00  0.26  2.00  0.00   2  27.0  90    3
...    ...   ...    ...   ...   ...   ...  ..   ...  ..  ...
1138  15.6  32.0  14.00  0.05  3.00  0.00   1  25.0  85   30
1139  17.7  37.0   7.00  0.07  2.17  0.00   0  25.0  84  274
1140  21.4  48.0  18.00  0.20  2.00  0.15   2  29.0  64   56
1141  16.3  41.0  23.52  0.16  1.00  0.00   4  31.0  57   60
1142  12.2  36.0  23.00  0.13  1.00  0.00   5  32.0  54   60

[1143 rows x 10 columns]

In [4]:
from pycaret.regression import *
clf1 = setup(data, target='PM25', session_id = 123)

In [5]:
best = compare_models()

In [6]:
tuned_et = tune_model(best)
bagged = ensemble_model(tuned_et , n_estimators=20)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [7]:
test = pd.read_csv('test.csv')
predict_model(bagged,data=test)

     PM10     O3    CO  NO2   SO2  WS  TEMP  RH  WD  PM25  prediction_label
0    32.0  24.00  0.13  1.0  0.00   5  33.0  53  48  15.9         15.933494
1    33.0  27.00  0.14  1.0  0.00   5  33.0  51  49  12.6         14.060483
2    39.0  27.00  0.13  1.0  0.00   4  34.0  50  49  10.1         15.668284
3    34.0  28.00  0.13  1.0  0.00   5  33.0  51  52   8.7         14.565188
4    32.0  23.00  0.14  1.0  0.00   6  33.0  55  56  12.1         14.352111
..    ...    ...   ...  ...   ...  ..   ...  ..  ..   ...               ...
296  22.0  16.00  0.20  2.0  0.15   4  29.0  67  56   6.0         10.168363
297  21.0  23.52  0.11  2.0  0.00   3  28.0  73  46   8.4         10.291777
298  23.0  14.00  0.10  1.0  0.00   3  27.0  75  54  11.7         12.885342
299  29.0  14.00  0.10  1.0  0.00   3  27.0  77  43   9.2         15.827372
300  32.0  15.00  0.09  1.0  0.00   2  27.0  79  36  14.6         16.687578

[301 rows x 11 columns]

In [8]:
lightgbm = create_model('lightgbm')
save_model(lightgbm, 'lightgbm_pipeline')
load_model('lightgbm_pipeline')

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Loaded

Pipeline(memory=FastMemory(location=C:\Users\HP\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['PM10', 'O3', 'CO', 'NO2', 'SO2',
                                             'WS', 'TEMP', 'RH', 'WD'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=[],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('trained_model', LGBMRegressor(n_jobs=-1, random_state=123))])

In [12]:
pre1 = predict_model(bagged,data=data)
pre1

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
0,20.0,23.00,0.20,1.00,0.00,2,28.0,86,15,11.500000,10.687647
1,18.0,22.00,0.27,2.00,0.00,2,27.0,88,352,11.200000,10.529532
2,17.0,19.00,0.26,3.00,0.00,2,27.0,90,348,9.800000,9.902279
3,17.0,17.00,0.26,2.00,0.00,2,26.0,91,1,9.700000,9.579016
4,16.0,17.00,0.26,2.00,0.00,2,27.0,90,3,8.700000,8.990121
...,...,...,...,...,...,...,...,...,...,...,...
1138,32.0,14.00,0.05,3.00,0.00,1,25.0,85,30,15.600000,16.217356
1139,37.0,7.00,0.07,2.17,0.00,0,25.0,84,274,17.700001,18.146615
1140,48.0,18.00,0.20,2.00,0.15,2,29.0,64,56,21.400000,22.711431
1141,41.0,23.52,0.16,1.00,0.00,4,31.0,57,60,16.299999,18.088380
1142,36.0,23.00,0.13,1.00,0.00,5,32.0,54,60,12.200000,17.073421

In [13]:
pre2 = predict_model(bagged,data=test)
pre2

     PM10     O3    CO  NO2   SO2  WS  TEMP  RH  WD  PM25  prediction_label
0    32.0  24.00  0.13  1.0  0.00   5  33.0  53  48  15.9         15.933494
1    33.0  27.00  0.14  1.0  0.00   5  33.0  51  49  12.6         14.060483
2    39.0  27.00  0.13  1.0  0.00   4  34.0  50  49  10.1         15.668284
3    34.0  28.00  0.13  1.0  0.00   5  33.0  51  52   8.7         14.565188
4    32.0  23.00  0.14  1.0  0.00   6  33.0  55  56  12.1         14.352111
..    ...    ...   ...  ...   ...  ..   ...  ..  ..   ...               ...
296  22.0  16.00  0.20  2.0  0.15   4  29.0  67  56   6.0         10.168363
297  21.0  23.52  0.11  2.0  0.00   3  28.0  73  46   8.4         10.291777
298  23.0  14.00  0.10  1.0  0.00   3  27.0  75  54  11.7         12.885342
299  29.0  14.00  0.10  1.0  0.00   3  27.0  77  43   9.2         15.827372
300  32.0  15.00  0.09  1.0  0.00   2  27.0  79  36  14.6         16.687578

[301 rows x 11 columns]