In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

In [10]:
pmmodel = pd.read_csv('Trang_clean.csv')
pmmodel = pmmodel.drop(columns=['Date', 'Time'])
pmmodel

      PM25  PM10    O3    CO  NO2  SO2  WS  TEMP  RH   WD
0     11.5  20.0  23.0  0.20  1.0  0.0   2    28  86   15
1     11.2  18.0  22.0  0.27  2.0  0.0   2    27  88  352
2      9.8  17.0  19.0  0.26  3.0  0.0   2    27  90  348
3      9.7  17.0  17.0  0.26  2.0  0.0   2    26  91    1
4      8.7  16.0  17.0  0.26  2.0  0.0   2    27  90    3
...    ...   ...   ...   ...  ...  ...  ..   ...  ..  ...
1424  20.4  36.0   3.0  0.13  5.0  0.0   1    24  92  283
1425  15.2  32.0   1.0  0.17  6.0  0.0   0    24  94  275
1426  13.7  33.0   0.0  0.20  7.0  0.0   1    24  93  319
1427  16.8  40.0   3.0  0.21  8.0  0.0   1    26  88  343
1428  24.6  61.0  14.0  0.18  2.0  0.0   3    29  72   46

[1429 rows x 10 columns]

In [11]:
from pycaret.regression import *
clf1 = setup(data=pmmodel, target='PM25',train_size=0.70)

In [12]:
best_model = compare_models()

In [13]:
finalize_model(best_model)

Pipeline(memory=Memory(location=None),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['PM10', 'O3', 'CO', 'NO2', 'SO2',
                                             'WS', 'TEMP', 'RH', 'WD'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=[],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('actual_estimator',
                 LGBMRegressor(n_jobs=-1, random_state=4139))])

In [14]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [15]:
predict_model(best_model)

,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
749,23.0,37.000000,0.23,1.0,0.0,6,32,49,59,13.700000,10.784582
259,24.0,7.000000,0.35,4.0,0.0,2,26,89,351,12.500000,13.910486
717,42.0,23.549999,0.23,1.0,0.0,3,27,83,34,23.500000,23.517749
1379,29.0,17.000000,0.05,2.0,0.0,4,28,71,54,9.800000,11.090049
169,42.0,18.000000,0.23,3.0,0.0,2,28,83,27,23.600000,23.688414
...,...,...,...,...,...,...,...,...,...,...,...
801,23.0,2.000000,0.36,5.0,0.0,1,23,96,303,12.500000,14.775719
829,59.0,28.000000,0.38,4.0,0.0,1,29,71,324,36.799999,31.897401
33,24.0,32.000000,0.05,1.0,0.0,5,35,54,67,11.200000,10.662358
663,70.0,30.000000,0.23,1.0,1.0,3,28,79,41,39.299999,34.696888
201,31.0,30.000000,0.18,1.0,0.0,4,35,58,44,16.200001,17.177609

In [ ]:
et = create_model('et')

In [33]:
tuned_et = tune_model(et)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [34]:
bagged_dt = ensemble_model(lightgbm, n_estimators=100)